.card_container {
 display: flex;
 flex-wrap: wrap;
}

.card {
  margin-top: 1.8em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 800px;
  margin-top: 1em;
  margin-left: 2em;
  border-radius: 0.8em;
  overflow: hidden;
  background-color: #cde0f3;
  transition: transform 150ms ease;
  &:hover {
    transform: scale(1.05);
  }
}

.card_label {
  text-align: center;
  font-weight: 700;
}

.card_info {
  text-align: center;
}

.card_btn_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card_btn_delete {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.3em 1em;
  background-color: #f50707;
  border: none;
  border-radius: 0.5em;
  color: white;
  &:hover {
    filter: brightness(1.5);
    color: black;
  }
}

.card_btn_edit {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.3em 1em;
  background-color: #555A88;
  border: none;
  border-radius: 0.5em;
  color: white;
  &:hover {
    filter: brightness(1.5);
    
  }
}